window.about headerbar {
    transition: background-color 200ms ease-out, box-shadow 200ms ease-out;
}

window.about headerbar.hidden {
    background-color: transparent;
    box-shadow: none;
}

window.about headerbar label.title {
    transition: color 200ms ease-out;
}

window.about headerbar.hidden label.title {
    color: transparent;
}

window.about box.about-content {
    margin: 47px 12px 24px;
}

window.about box.about-content > * + * {
    margin-top: 24px;
}

window.about scrollbar {
    margin-top: 47px;
}

window.about scrollbar:not(.overlay-indicator) {
    border-top: 1px solid @borders;
}

aboutappinfo image.large-icons {
    -gtk-icon-size: 128px;
}

aboutappinfo label.version {
    background-color: alpha(@accent_color, 0.1);

    padding: 2px 12px;
    min-height: 24px;

    border-radius: 24px;
}

aboutappinfo > * + *:not(.author-name) {
    margin-top: 12px;
}

aboutappinfo label.author-name,
aboutappinfo label.devel {
    margin-top: 6px;
}
